@page
@model HW21.Presentation.RezorPages.Pages.Home.IndexModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/allPosts.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        @foreach(var post in Model.Posts)
        {
            <div class="post-card">
                <div class="author">نویسنده: @post.AuthorName</div>

                <img class="post-image" src="@post.ImagePath" alt="post">

                <h2 class="post-title">@post.Title</h2>

                <p class="post-content">
                    @post.Description ...
                </p>
                <div class="post-buttons">
                    <a style="text-decoration: none;" asp-page="/Post/GetPost" asp-route-id="@post.Id"><button class="edit-btn">ادامه ی مطالب</button></a>
                </div>
                <div class="post-footer">
                    <span class="category">#@post.CategoryName</span>
                    <span class="date">@post.CreatedAt</span>
                </div>
            </div>
        }
    </div>
</body>
</html>
